[Unit]
Description=konsole session store/restore service
# Fix ~/.xprofile or ~/.xinitrc if these fail; see README.md.
ConditionEnvironment=DBUS_SESSION_BUS_ADDRESS
ConditionEnvironment=DISPLAY
ConditionEnvironment=XAUTHORITY

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/libexec/konsole-session/konsole-load
ExecStop=%h/.local/bin/konsole-save
TimeoutStopSec=10s
