[Unit]
Description=konsole session store/restore service
ConditionEnvironment=DBUS_SESSION_BUS_ADDRESS
ConditionEnvironment=DISPLAY
ConditionEnvironment=XAUTHORITY

[Service]
Type=oneshot
RemainAfterExit=no
ExecStartPre=%h/.local/libexec/konsole-session/konsole-load
ExecStart=%h/.local/libexec/konsole-session/start-konsole-save-service

[Install]
# default.target is what is returned by `systemctl --user get-default`.
# It has nothing to with the system-level target with the same name.
WantedBy=default.target
